<%= link_to "Sign out", destroy_user_session_path, :method => :delete, style: "float: right;" %>

<h1>Let's Chat</h1>
<hr>
<% @chats.each do |chat| %>
<%= chat.user.first_name %>
<br>
<%= chat.message %>

<hr>
<% end %>
<div id="new_message"></div>
<%= render 'form', chat: @chat %>

<%# <%= link_to 'Back', chats_path %>
<style>
h1{
  font-family: auto;
}
</style>
